*
{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: 'Open Sans', sans-serif;
}

.limpa
{
  clear: both;
}

.w50
{
  width: 50%;
  float: left;
}

.container
{
  max-width: 1920px;
  margin: 0 auto;
  padding: 0 2%;
}

.navbar
{
  background-color: #35A5FF;
  overflow: hidden;
}

.navbar a 
{
  float: left;
  color: #F5F5F5;
  text-align: center;
  padding: 25px 45px;
  text-decoration: none;
  font-size: 18px;
}

.navbar a:hover
{
  background-color: #3092BB;
  color: #F5F5F5;
}

.navbar a.active
{
  background-color: #3092BB;
}

section.fundo-p
{
  position: relative;
  width: 100%;
  padding: 140px 180px 200px 180px;
  background-image: url('../images/main.jpg');
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  text-align: center;
}

.overlay
{
  z-index: 1;
  position: absolute;
  width: 100%;
  height: 100%;
  background: rgba(0, 0, 0, 0.3);
  left: 0;
  top: 0;
}

section.fundo-p h2
{
  color: #31d6ff;
  font-size: 40px;
  font-weight: normal;
}

section.fundo-p p
{
  color: #FFFFFF;
  text-align: left;
  font-size: 20px;
  margin-top: 40px;
}

section.noticias
{
  padding: 30px 0;
}

section.linha
{
  padding: 30px 0;
  text-align: center;
}

.linha-de-separacao
{
  position: relative;
  color: #35A5FF;
  display: inline-block;
}

.linha-de-separacao > div
{
  position: absolute;
  left: 0;
  top: 0;
  width: 200px;
  height: 3px;
  background: #35A5FF;
}

.linha-de-separacao h2
{
  text-align: center;
  font-weight: bold;
  font-size: 36px;
}
.cartao-individual
{
  width: 50%;
  float: left;
  padding: 40px;
}

.cartao-individual h3
{
  margin-top: 15px;
  font-weight: normal;
  font-size: 19px;
}

.cartao-individual p
{
  margin: 10px 0;
  font-weight: lighter;
  font-size: 12px;
  padding-bottom: 20px;
  border-bottom: 2px solid #aaaaaa;
}

.cartao-texto
{
  width: 50%;
  float: left;
  padding: 20px;
  font-size: 22px;
  text-align: justify;
}

.cartao-texto h3
{
  font-size: 32px;
  color: #137fd8;
  padding-bottom: 40px;
  text-align: center;
}

.cartao-texto li
{
  padding: 5px;
  margin-left: 30px;
}

.cartao-audio
{
  width: 50%;
  float: left;
  padding: 40px;
}

.cartao-audio img
{
  width: 800px;
}

.cartao-audio h3
{
  font-size: 32px;
  color: #137fd8;
  padding-bottom: 40px;
  text-align: center;
}

.cartao-audio li
{
  padding: 5px;
  margin-left: 30px;
}

.linha-cinza
{
  margin: 2px 0;
  font-weight: lighter;
  padding-bottom: 20px;
  border-bottom: 2px solid #aaaaaa;
}

.linha-azul
{
  margin: 2px 0;
  font-weight: lighter;
  padding-bottom: 20px;
  border-bottom: 2px solid #35A5FF;
}

footer.footer1
{
  background: #3092BB;
  padding: 50px 0;
  color: #FFFFFF;
}

footer.footer1 h2
{
  font-weight: normal;
  font-size: 23px;
  text-align: center;
}

footer.footer1 p
{
  margin-top: 8px;
  font-weight: lighter;
  text-align: center;
}

footer.footer1 a
{
  display: block;
  color: #FFFFFF;
  text-align: center;
}

footer.footer2
{
  padding: 10px 0;
  background: #1c78a0;
  text-align: center;
  color: #FFFFFF;
}

.imagem-circular
{
  padding: 40px;
  display: block;
  align-items: center;
}

.imagem-circular img
{
  border-radius: 50%;
  display: block;
  margin-left: auto;
  margin-right: auto;
  width: 20%;
}

.imagem-circular h1
{
  text-align: center;
  font-weight: lighter;
}

.imagem-circular p
{
  margin-top: 25px;
  margin-left: 450px;
  width: 50%;
  display: block;
  text-align: justify;
}

.icones
{
  display: flex;
  align-items: center;
  justify-content: center;
}

#linkedin
{
  font-size: 48px;
  text-decoration: none;
  color: #0E76A8;
}

#github
{
  font-size: 48px;
  text-decoration: none;
  color: #333333;
}

#facebook
{
  font-size: 48px;
  text-decoration: none;
  color: #3B5998;
}

#outlook
{
  font-size: 48px;
  text-decoration: none;
  color: rgb(64, 122, 488);
}

#whatsapp
{
  font-size: 48px;
  text-decoration: none;
  color: #25d366;
}

.saiba-mais
{
  margin-top: 150px;
  padding: 40px;
}

.saiba-mais h1
{
  font-size: 24px;
  color: #3092BB;
}

.saiba-mais li
{
  margin-left: 20px;
}

.saiba-mais a
{
  text-decoration: none;
}